<div class="container">
  <div>
    <h1>My Tasks</h1>

    <ul>
      <% @tasks.each do |task| %>
      <li><%= task.completed ? "☑️" : "❎" %><%= link_to task.title, task %></li>
      <% end %>
    </ul>
    <p><%= link_to 'Create new', new_path, class: 'btn btn-primary btn-sm' %></p>
  </div>
</div>
